.App {
  overflow: hidden;
  background-color: #F5F5F5;
  ;
}

.Login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 15%;
}

.SignUp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}

.login--label {
  font-size: 40px;
  margin-bottom: 30px;
}

.credentials--input {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input--form {
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 24px;
}

.login--button {
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px;
  width: 140px;
  font-size: 24px;
}

/* search results css*/

.card {
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
  transition: transform 100ms ease-in;
  cursor: pointer;
  width: 50%;
  color: black;
  text-decoration: none;
}

.card:hover {
  transform: scale(1.07);
}

.card>img {
  object-fit: fill;
  width: 100%;
}

.card__info {
  margin-top: -9px;
  border-radius: 20px;
  padding: 20px;
  padding-top: 20px;
  border: 1;
}

.card__info>h2 {
  font-size: 18px;
  font-weight: 600;
}

.card__info>h4 {
  font-size: 14px;
  font-weight: 300;
  margin-top: 8px;
  margin-bottom: 8px;
}


.search-results {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}

.card__info>h1 {
  font-size: 28px;
}

.card__info>span {
  font-size: 20px;
  font-weight: 600;
}

.img-storage {
  width: 50%;
}

.host-name-profile {
  display: flex;
  flex-direction: row;
  vertical-align: auto;
}

.host-name-profile>span {
  font-size: 20px;
}

.storage-desc {}

.profile-icon {

  margin-right: 10px;
}

.listing-buttons {
  margin-left: 7px;
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 100px;
}

.desc-details {
  font-size: 20px;
}

.buttons-listing {
  border-radius: 16px;
  padding: 5px 10px 5px 10px;
}

.filters {
  display: flex;
  flex-direction: row;
  border: 1px;
  border-style: solid;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
}

.price--filters {
  display: flex;
  flex-direction: row;
}

.price-form {}

.price--input {
  margin-left: 10px;
  width: 80px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 14px;
  border-radius: 10px;
}

.date-form {
  margin-left: 10px;
}

.date--input {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.address--input {
  margin-left: 10px;
  border-radius: 10px;
}

.main-result-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.results--title {
  font-size: 30px;
  border: 1px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15%;
  padding-right: 15%;
  border-style: solid;
  margin-bottom: 20px;
}

.listings {
  display: flex;
  padding: 10px;

}

.results {
  overflow-x: hidden;
  overflow-y: auto;
  display: grid;
  grid-template-columns: 500px 500px 500px;
  padding-left: 6%;

}

nav {
  position: sticky;
  top: 0px;
  z-index: 100;
  box-shadow: rgb(0 0 0 /12%) 0 6px 16px;
  padding: 30px;
  width: 100%;
  height: 120px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100%;
}

.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}

.header__center {
  display: flex;
  flex: 1;
  align-items: center;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 3px solid gray;
  border-radius: 999px;
}

.header__center>input {
  border: none;
  padding: 10px;
  outline-width: 0;
  /* width: 250px; */
}

.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}